@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customized: Scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: #04070f;
}

::-webkit-scrollbar-thumb {
	background-color: #0b162e;
	outline: none;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #0b162e;
}

/* Ant Design Message Over Everything  */
.ant-message {
	z-index: 1220;
}

/* NProgess Color */
#nprogress {
	z-index: 1000000000 !important;
}

#nprogress .bar {
	background: #0b162e !important;
	height: 4px !important;
	z-index: 1000000000 !important;
}

#nprogress .spinner-icon {
	border-top-color: #0b162e !important;
	border-left-color: #0b162e !important;
	border-left-color: #0b162e !important;
	z-index: 1000000000 !important;
}

#nprogress .peg {
	box-shadow: 0 0 10px #0b162e, 0 0 5px #070f1f !important;
}
